body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-logo {
    max-width: 200px;
    height: auto;
}

.logo {
    max-width: 70px;
    height: auto;
}

.main-content {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 65px;
    justify-content: center;
    justify-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Применяем адаптивность при изменении ширины экрана */
@media screen and (max-width: 1600px) {
    .main-content {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1200px) {
    .main-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .main-content {
        grid-template-columns: repeat(1, 1fr);
    }
}

.card {
    width: 300px;
    height: 400px;
    /* Для анимации переворота */
    position: relative;
}

.card::before {
    content: "";
    /* Создает пустой псевдоэлемент */
    width: 90%;
    /* Растягивает псевдоэлемент на всю ширину карточки */
    height: 90%;
    /* Растягивает псевдоэлемент на всю высоту карточки */
    background-color: rgba(0, 0, 0, 0.1);
    /* Цвет и прозрачность тени */
    position: absolute;
    /* Позволяет разместить псевдоэлемент над основным содержимым */
    top: 15%;
    /* Размещает псевдоэлемент наверху */
    left: 15%;
    /* Размещает псевдоэлемент слева */
    z-index: -2;
    /* Располагает псевдоэлемент за основным содержимым */
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}

.front,
.back {
    background-color: #F4FFFD;
    border: 5px solid #ffffff;
    border-radius: 20px;
    text-align: center;
    width: 100%;
    height: 100%;

}

.front {
    display: flex;
    flex-direction: column;
    /* Для анимации переворота */
    z-index: 1;
    position: relative;
    backface-visibility: hidden;
    transition: transform .5s cubic-bezier(.2, .85, .4, 1.275);
}

.back {
    /* Для анимации переворота */
    backface-visibility: hidden;
    top: 0;
    z-index: 0;
    position: absolute;
    transform: rotateY(-180deg);
    transition: transform .5s cubic-bezier(.2, .85, .4, 1.275);
}


/* Для анимации переворота */
.card:hover .back {
    transform: rotateY(0deg);
    z-index: 2;
}

/* Для анимации переворота */
.card:hover .front {
    transform: rotateY(180deg);
    z-index: -1;
}

/* Тут перед */
.ru-name {
    margin-top: 40px;
    margin-bottom: 5px;
    font-style: medium;
    font-size: 16px;
}

.en-name {
    margin-top: 0px;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
}

.img-container img {
    width: 90%;
    border-radius: 5px;
    align-self: center;
}

.bottom-panel {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
    font-size: 12px;
    min-height: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.plant-type-container {
    flex: 8;
    border-radius: 10px;
    background-color: #E692E0;
    margin-right: 10px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price-container {
    margin-left: 10px;
    flex: 2;
    border-radius: 10px;
    background-color: #E8A8A2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coin {
    height: 15px;
    margin-left: 5px;
}

.price {
    margin-right: auto;
    margin-left: 5px;
}

/* тут зад */
.details-back {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    height: 95%;

}

.details-back img {
    width: 50px;
    height: 75px;
    margin-top: 10px;
    border-radius: 5px;
    align-self: center;
}

.img-container-back {}

.details-back p {
    margin-top: auto;
    font-size: 12px;
}

footer {
    flex-shrink: 0;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .modal {
    position: relative;
    background-color: #fff;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
  }
  
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  .close-button:hover {
    color: red;
  }