header {
    padding: 5px;
    display: flex;
    align-items: center;
}

nav {
    margin-left: auto;
}

nav li {
    display: inline;
    margin-right: 20px;
}

.main-logo {
    max-width: 70px;
    height: auto;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-content {

    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

}



.card {
    width: 200px;
    height: 300px;
    background-color: #c1d1c1;
    border: 1px solid #000;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
  }
  
  .card img {
    width: 80%;
    border-radius: 5px;
  }
  
  .card h2 {
    margin-top: 10px;
    font-size: 1.5em;
    color: #3c763d;
  }