header {
    padding: 5px;
    display: flex;
    align-items: center;
    background-color: rgb(144 125 125);
}

nav {
    margin-left: auto;
}

nav li {
    display: inline;
    margin-right: 20px;
}

.main-logo {
    max-width: 70px;
    height: auto;
}

.logo {
    max-width: 70px;
    height: auto;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(209 170 119);
}

.main-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 65px;
    justify-content: center;
    justify-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Применяем адаптивность при изменении ширины экрана */
@media screen and (max-width: 1600px) {
    .main-content {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1200px) {
    .main-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .main-content {
        grid-template-columns: repeat(1, 1fr);
    }
}

.card {
    width: 300px;
    height: 400px;
    /* Для анимации переворота */
    position: relative;  
}

.front, .back {
    display: flex;
    flex-direction: column;
    background-color: #55B78B;
    border: 10px solid #ebdbce;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    height: 100%;
    
}
.front {
    /* Для анимации переворота */
    z-index: 1;
    position: relative;
    backface-visibility: hidden;
    transition: transform .5s cubic-bezier(.2, .85, .4, 1.275);
}
.back {
    /* Для анимации переворота */
    backface-visibility: hidden;
    top: 0;
    z-index: 0;
    position: absolute;
    transform: rotateY(-180deg);
    transition: transform .5s cubic-bezier(.2, .85, .4, 1.275);
}
/* Для анимации переворота */
.card:hover .back {
    transform: rotateY(0deg);
    z-index: 2;
}
/* Для анимации переворота */
.card:hover .front {
    transform: rotateY(180deg);
    z-index: -1;
}

.card img {
    flex: 7;
    width: 90%;
    border-radius: 5px;
    align-self: center;
}

.img-container {
    border: 3px solid black;
}

.card .details {
    flex: 3;
    background-color: #508C6D;
    border: 3px solid black;
    border-top: 0px;
}

.card h2 {
    font-size: 1.5em;
    color: #ebdbce;
}

.card h3 {
    font-size: 1.2em;
    color: #e0af93;
}